<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @blog.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Picture:</strong>
  <% if @blog.picture.present? %>
    <%= image_tag @blog.picture.url %>
  <% end %>
</p>
<% if current_user.id == @blog.user_id %>
  <%= link_to 'Edit', edit_blog_path(@blog) %> |
<% end %>
<%= link_to 'Back', blogs_path %>
