<!DOCTYPE html>
<html>
  <head>
    <title>PictureBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="header clearfix">
    <%= link_to choose_login_or_home do %>
      <img src="/images/Home.png" class="header_image">
    <% end %>
    <nav>
      <ul class="header_menu">
        <% if logged_in? %>
          <li><%= link_to 'Profile', user_path(current_user.id) %></li>
          <li><%= link_to 'Logout', session_path(current_user.id), method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign up', new_user_path %></li>
          <li><%= link_to 'Login', new_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <body>
    <div class="flash">
      <%= flash[:notice] %>
      <%= flash[:danger] %>
    </div>
    <%= yield %>
  </body>
</html>
